/**
 * @name GOG Galaxy
 * @author Linx#7949
 * @version 1.0.0
 * @description Display your picture of choice with adjustable blur and brightness. Dark theme is required.
 * @source https://github.com/Gibbu/BetterDiscord-Themes/tree/master/FrostedGlass
*/

@import url("https://gibbu.github.io/BetterDiscord-Themes/FrostedGlass/base.css");

/* User Background */
@import url('https://discord-custom-covers.github.io/usrbg/snippets/userPopouts.css');
@import url('https://discord-custom-covers.github.io/usrbg/snippets/modals.css');

/* BlackBox tags */
/*@import url('https://monstrousdev.github.io/themes/addons/user-tags.css');*/

/* Old Windows titlebar - remove this @import if you wish to use default titlebar */
@import url("https://gibbu.github.io/BetterDiscord-Themes/addons/windows-titlebar.css");
/*Adjustablw Server List Width*/
@import url("https://gibbu.github.io/BetterDiscord-Themes/AdjustableServerWidth/base.css");

/*@import url('https://gibbu.github.io/BetterDiscord-Themes/RadialStatus/base.css');*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');


:root {

/* Here you can define properties for use with Glasscord. */

	/* Windows-specific properties */
	/* Blur mode. Available types: acrylic (strong blur), blurbehind (light blur), transparent */
  --glasscord-win-blur: blurbehind

	/* macOS-specific properties */
	/* Vibrancy mode */
	--glasscord-macos-vibrancy: fullscreen-ui;

	/* Linux-specific properties */
	/* Should Glasscord send a request to your window compositor to blur behind Discord's window? */
	/* It currently supports KWin only */
	--glasscord-linux-blur: false;

	/* Discord-specific properties */
	/* Custom (forced) titlebar */
	/* native (default), windows, osx, linux (framed) */
	--glasscord-titlebar: native;

  /* Background image variables */
  /*--background-image: url(''); /* Main background image | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
  /*--background-image-blur: 55px; /* Blur intensity of --background-image | Must end in px | DEFAULT: 5px */
  /*--background-image-size: cover; /* Size of the background image | DEFAUT: cover | OPTIONS: cover, contain */
  /*--background-image-position: center; /* Position of background image | DEAFULT: center | OPTIONS: top, right, bottom, left, center */

  
  /* Home image variables */
  --home-button-image: url('https://gibbu.github.io/BetterDiscord-Themes/FrostedGlass/assets/discord.svg'); /* Home button image | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
  --home-button-size: cover; /* Size of the home button image | DEFAUT: cover */
  --home-button-position: center; /* Position of home button image | DEAFULT: center */

  /* Brightness variables */
  --serverlist-brightness: .65; /* Brightness for serverlist | 0 - 1 (decimals allowed) | DEFAULT: 0.8 */
  --left-brightness: 0.65; /* Channels and DM list brightness | 0 - 1 (decimals allowed) | DEFAULT: 0.8 */
  --middle-brightness: .5; /* Chat brightness | 0 - 1 (decimals allowed) | DEFAULT: 0.6 */
  --right-brightness: 0.02; /* Members and Now Playing brightness | 0 - 1 (decimals allowed) | DEFAULT: 0 */
  --popout-modal-brightness: 0.8; /* Brightness for popouts and modals | 0 - 1 (decimals allowed) | DEFAULT: 0.75 */

  /* Popout & Modal variables */
  --popout-modal-image: url('https://user-images.githubusercontent.com/51830853/95003246-a2130980-05dd-11eb-8949-9128a3ed823c.png'); /* Background image for popouts and modals | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
  --popout-modal-blur: 0px; /* Blur intensity of --popout-modal-image | Must end in px | DEFAULT: 5px */
  --popout-modal-size: cover; /* Size of the popout/modal image | DEFAUT: cover | OPTIONS: cover, contain */
  --popout-modal-position: center; /* Position of popout/modal image | DEAFULT: center | OPTIONS: top, right, bottom, left, center */

  /*Adjustble Server Width*/
  --server-icon-size: 45px; /* Size of the server icons | DEFAULT: 35px */
  --server-icon-spacing: 9px; /* Spacing between server icons. Negative values are allowed | DEFAULT: 8px */
  --server-container-padding: 8px; /* Spacing to the left and right sides of server icons | DEFAULT: 10px */

  /* Gradient variables */
  --gradient-primary: 255,63,133; /* DEFAULT: 103,58,183 */
  --gradient-secondary: 126,0,255; /* DEFAULT: 63,81,181 */
  --gradient-direction: 310deg; /* DEFAULT: 320deg */

  /* Other variables */
  --window-padding: 0px; /* Spacing around the Discord window | DEFAULT: 20px */
  --window-roundness: 10px; /* Roundness of Discord | DEFAULT: 10px */
  --scrollbar-colour: rgba(255,255,255,.05); /* DEFAULT: rgba(255,255,255,0.05) */
  --link-colour: #00b0f4; /* DEFAULT: #00b0f4 */
  --show-gift-gif-buttons: block; /* Show buttons: block | Hide buttons: none | DEFAULT: none */

  /*Round Status
  --rs-small-spacing: 1px;
  --rs-large-spacing: 2px;
  --rs-width: 1px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-invisible-color: #747f8d;
  */
  /*
    Visit https://fonts.google.com and select one to your liking.
    Now just follow this tutorial: https://imgur.com/a/CNbw7xC
  */
  --font: 'Lato', sans-serif;; /*Whitney*/
  --font-size: 16px;
  

  /* Do not touch */
  --update-notice-1: none;}

/*.unread-3zKkbm {
	height: 4px;
	width: 4px;
	margin-top: -2px;
	border-radius: 2px 2px 2px 2px;}*/
